html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.2;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #ffffff;
  color: #17191a;
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 0.7rem;
  text-rendering: optimizeLegibility;
  padding: 3rem;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.icon {
  width: 0.7rem;
  height: 0.7rem;
  fill: currentColor;
  align-self: center;
  justify-self: center;
  pointer-events: none;
  flex: none;
}
.icon--large {
  width: 1.2rem;
  height: 1.2rem;
}
.icon--small {
  width: 0.5rem;
  height: 0.5rem;
}

.button {
  overflow: hidden;
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  text-transform: uppercase;
  text-align: left;
  appearance: none;
  background: #006b99;
  border: 1px solid #006b99;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  flex: 0 1 auto;
  align-self: center;
  align-items: center;
  font-size: 0.7rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem 0.75rem;
  margin: 0.25rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button .icon {
  width: 0.69rem;
  height: 0.69rem;
  align-self: center;
}
.button:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem rgba(85, 112, 131, 0.2);
}
.button:focus, .button:hover {
  background-color: #557083;
  color: #ffffff;
  border-color: #557083;
  text-decoration: none;
}
.button:active, .button.active {
  background-color: #4b6374;
  border-color: #4b6374;
  color: #ffffff;
  text-decoration: none;
}
.button[disabled], .button:disabled, .button.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.button span + .icon {
  margin-left: 0.5rem;
}
.button .icon + span {
  margin-left: 0.5rem;
}
.button span {
  white-space: normal;
  line-height: 1;
  text-align: left;
}
.button:first-child {
  margin-left: 0;
}
.button:last-child {
  margin-right: 0;
}
.button--success {
  background: #00ada5;
  border-color: #00ada5;
  color: #ffffff;
}
.button--success:focus, .button--success:hover {
  background: #007a74;
  border-color: #007a74;
}
.button--success:active, .button--success.active {
  background: #00615c;
  border-color: #00615c;
  color: #ffffff;
}
h3 .button--muted {
  background: #ffffff;
  border-color: #ffffff;
  color: #006b99;
  height: 14px;
  width: 95px;
  left: 15px;
  top: 10px;
  border-radius: nullpx;
  font-family: Europa-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
}
h3 .button--muted:focus, h3 .button--muted:hover {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
h3 .button--muted:active, h3 .button--muted.active {
  background: #d9d9d9;
  border-color: #d9d9d9;
  color: #006b99;
}

.input {
  font-size: 0.7rem;
  border: none !important;
  background-color: #f0f8fa !important;
  resize: none;
  text-overflow: ellipsis;
  padding: 0.8rem;
  font-size: 100%;
  background-position: calc(100% - 16px) center;
  border-radius: 4px !important;
}
.input:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem rgba(85, 112, 131, 0.2);
}
.input::placeholder {
  color: tint(#17191a, 30%);
}

#modal-toggle {
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}

.modal-wrapper {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.modal {
  display: grid;
  max-width: 800px;
  grid-template-columns: 40% 60%;
  outline: none;
  box-shadow: 0 0 0 0.1rem rgba(85, 112, 131, 0.2);
  background-color: #fff;
  height: 386px;
  width: 780px;
  left: 330.5px;
  top: 319px;
  border-radius: 4px;
}
.modal .modal-sidebar {
  padding: 2em;
  color: #fff;
  background-color: #006b99;
  height: 386px;
  width: 250px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 32px;
}
.modal .modal-sidebar .map-icon {
  position: static;
  width: 10px;
  height: 16px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.modal .modal-sidebar p {
  position: static;
  width: 120px;
  height: 60px;
  left: 22px;
  top: 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}
.modal h2 {
  margin-top: 0;
}
.modal .modal-content {
  padding: 2em;
}
.modal .modal-content h2 {
  color: #006b99;
}

.row {
  display: flex;
}

.cols-2-gap {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 1rem;
}

.w-full {
  width: 100%;
}

.contact-form > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1rem;
}

.contact-form .contact-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contact-form .contact-footer button[data-modal-close] {
  background: none;
  border: none;
  color: #006B99;
  text-transform: uppercase;
}

.form-success {
  display: none;
  padding: 2em;
  text-align: center;
}
.form-success h3 {
  color: #006b99;
  height: 32px;
  top: 190.53125px;
  border-radius: nullpx;
}
.form-success button {
  background: grey;
  border-color: grey;
}